<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search" ui-sref="app.search">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <div class="top-statusbar"></div>
        <div class="list no-margin" ng-if="menu.setting">
            <ion-item class="item-avatar item-icon-right">
                <div class="image-adjust" ng-style="userdetails.myimage"></div>
                <h3>{{userdetails.name}}</h3>
                <p><font size="0.5">{{userdetails.email}}</font></p>
                <!--<i class="icon ln-gear2 small" ui-sref="app.setting" menu-close ng-if="menu.setting"></i>-->
            </ion-item>
        </div>
        <ion-content ng-class="logso">
            <div class="list menu-set">
               <ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="puntoslink();" ui-sref-active="bordered">
                    <div class="item-content"><i class="icon ion-android-person"></i>Mi Perfil</div>
                </ion-item>

                <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.{{menu.link}}({id:menu.typeid})" ui-sref-active="bordered" ng-repeat="menu in menudata">
                    <i class="icon {{menu.icon}}"></i>{{menu.name}}
                </ion-item>


                 <ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="logout()" ui-sref-active="bordered">
                    <div class="item-content"><i class="icon ln-arrow-right2"></i>Salir</div>
                </ion-item>


                 <!--<ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="panico()" ui-sref-active="bordered">
                   
                   <div class="item-content" id="page-gradient">

                   <a class="buttonz"><span>Me urge Café!</span></a>

                   </div>
                </ion-item>-->


                <!--<ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="panico()" ui-sref-active="bordered">
                   <div style="font-size: 8px; font-weight: 900; font-family: 'gotham-bold'; background-image: url('../img/warning.jpg');" class="item-content"><panic class="panic">Me urge Café!</panic></div>
                </ion-item>-->


                <!--<ion-item nav-clear menu-close class="item item-icon-left item-complex" ng-click="logout()" ui-sref-active="bordered" ng-if="menu.setting">
                    <div class="item-content"><i class="icon ln-arrow-right2"></i>Salir</div>
                </ion-item>-->


                
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
