<ion-view view-title="Login" class="login-bg">
    <ion-content>
        <div class="login-logo light">
            MYCOFFEEBOX.COM</span>
        </div>
        <div class="login-tab">
            <div class="login">
                <div class="padding-horizontal">
                    <h4 class="light text-center">Reestablecer Password</h4>
                </div>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Password" ng-model="password.oldpassword">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Confirma password</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Confirm password" ng-model="password.newpassword">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Confirma password</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Confirm password" ng-model="password.confirmpassword">
                    </label>
                </div>
                <div class="login-btn footer">
                    <button class="button  button-royal" ng-click="changepassword(password);">
                        Enviar
                    </button>
                    <div class="sign text-center">
                        <span>No tienes Cuenta?<a href="#/access/login">Registrate</a></span>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
