<ion-view view-title="Blog">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content ng-style="{'background-image':'url(img/madera.jpg)'}>

        <div class="padding card" ng-repeat="blog in blogs" ng-show="showWordpress">
            <ion-item class="item-avatar item-icon-right">
                <div class="image-adjust img-blog" ng-style="{'background-image':'url({{blog.author.avatar_URL}})'}"></div>
                <h2>{{blog.author.first_name}} {{blog.author.last_name}}</h2>
                <p>{{blog.date|date:'MMMM dd, yyyy'}}</p>
            </ion-item>
            <div class="item item-body" ng-click="blogDetail(blog,'wordpress');">
                <img class="full-image" ng-src="{{blog.featured_image}}">
                <p>
                    <span ng-bind-html="blog.content| cut:true:367:'. . .'| rawHtml"></span>
                </p>
            </div>
        </div>

        <div class="padding card" ng-repeat="blog in blogs" ng-show="showWordpressSelf">
            <ion-item class="item-avatar item-icon-right">
                <div class="image-adjust img-blog" ng-style="{'background-image':'url(img/blog.png)'}"></div>
<!--                <h2>{{blog.author.first_name}} {{blog.author.last_name}}</h2>-->
                <h2>{{blog.title.rendered}}</h2>
                <p>{{blog.date|date:'MMMM dd, yyyy'}}</p>
            </ion-item>
            <div class="item item-body" ng-click="blogDetail(blog,'wordpressself');">
                <p>
                    <span ng-bind-html="blog.content|cut:true:367:'. . .'|rawHtml"></span>
                </p>
            </div>
        </div>

        <div class="padding card" ng-repeat="blog in blogs" ng-show="showTumblr">
            <ion-item class="item-avatar item-icon-right">
            <div class="image-adjust img-blog" ng-style="{'background-image': 'url(../img/Facebook_TaylorSwift.png)'}"></div>
                <h2 ng-if="blog.slug">{{blog.slug}}</h2>
                <h2 ng-if="blog.blog_name">{{blog.blog_name}}</h2>
                <p ng-if="blog.date">{{blog.date|formatdate}}</p>
            </ion-item>
            <div class="item item-body" ng-click="blogDetail(blog,'tumblr');">
                <img class="full-image" ng-src="{{blog.photos[0].original_size.url}}">
                <p ng-if="blog.type == 'audio'">
                    <span>{{blog.album}}</span>
                    <span ng-bind-html="blog.embed|rawHtml" ng-if="blog.embed"></span>
                    <span ng-bind-html="blog.body|cut:true:367:'. . .'|rawHtml"></span>
                </p>
                <p ng-if="blog.type == 'quote'">
                    <span>{{blog.album}}</span>
                    <span ng-bind-html="blog.text|cut:true:367:'. . .'|rawHtml"></span>
                </p>
                <p ng-if="blog.type == 'link'">
                    <span>Link</span>
                    <a href="{{blog.url}}" target="_blank">{{blog.url}}</a>
                </p>
                <p>
                    <span ng-bind-html="blog.body|cut:true:367:'. . .'|rawHtml"></span>
                </p>
            </div>
        </div>
        
        <div class="padding card" ng-repeat="blog in blogs" ng-show="showCustomblog">
            <ion-item class="item-avatar item-icon-right">
            <div class="image-adjust img-blog" ng-style="{'background-image':'url(../img/Facebook_TaylorSwift.png)'}"></div>
                <h2>{{blog.name}}</h2>
                <p ng-if="blog.timestamp">{{blog.timestamp|formatdate}}</p>
            </ion-item>
            <div class="item item-body" ng-click="blogDetail(blog,'cms');">
<!--                <img class="full-image" ng-src="{{blog.photos[0].original_size.url}}">-->
                <p>
                    <span ng-bind-html="blog.content|cut:true:367:'. . .'|rawHtml"></span>
                </p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMorePolls()" ng-if="keepscrolling" distance="25%">
        </ion-infinite-scroll>

    <br><br><br>

    </ion-content>
<div class="tabs  tabs-light" >
  <a  href="#/app/profile" class="positive tab-item icon ion-star "><font style="font-family:Gotham-bold;" size="2.2px">  Mis Puntos</font></a>
  <a href="#/app/cafes" class="positive tab-item ion-coffee "><font style="font-family:Gotham-bold;" size="2.2px">  Productores</font></a>
  <a href="#/app/contact" class="positive tab-item ion-earth "><font style="font-family:Gotham-bold;" size="2.2px">  Sucursales</font></a>
</div>
</ion-view>
