<ion-view view-title="Blog">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content>
        <div class="article-view" ng-if="details.provider=='wordpress' && id==0">
            <div class="relative stable-bg min-height">
                <img class="full-image" ng-src="img/login-bg.jpg">
                <div class="gradient-hold full">
                    <h4 class="light">{{details.author.first_name}} {{details.author.last_name}}</h4>
                    <p class="light">{{details.date|date : 'MMMM dd, yyyy'}}</p>
                </div>
            </div>
            <div class="padding">
                <h4>{{details.title}}</h4>
                <p ng-bind-html="details.content"></p>
            </div>
        </div>
        <div class="article-view" ng-if="details.provider=='wordpressself' && id==0">
            <div class="relative stable-bg min-height">
                <img class="full-image" ng-src="img/login-bg.jpg">
                <div class="gradient-hold full">
                    <h4 class="light">{{blog.title.rendered}}</h4>
                    <p class="light">{{details.date|date : 'MMMM dd, yyyy'}}</p>
                </div>
            </div>
            <div class="padding">
                <h4>{{details.title.rendered}}</h4>
                <p ng-bind-html="details.content"></p>
            </div>
        </div>
        <div class="article-view" ng-if="id!=0">
            <div class="relative stable-bg min-height max-height" ng-if="details.image">
                <img class="full-image" ng-src="{{details.image | serverimage}}">
                <div class="gradient-hold full">
                    <h4 class="light">{{details.title}} {{details.author.last_name}}</h4>
                    <p class="light">{{details.timestamp | formatdate}}</p>
                </div>
            </div>
            <div class="padding">
                <h4>{{details.title}}</h4>
                <p ng-bind-html="details.content"></p>
            </div>
        </div>
        <div class="article-view" ng-if="details.provider=='tumblr' && id==0">
            <div class="relative stable-bg min-height">
                <img class="full-image" ng-src="{{details.photos[0].original_size.url}}">
                <div class="gradient-hold full">
                    <h4 class="light" ng-if="details.type=='audio'">{{details.album}}</h4>
                    <h4 class="light" ng-if="details.type!='audio'">{{details.slug}}</h4>
                    <p class="light">{{details.date|formatdate}}</p>
                </div>
            </div>
            <div class="padding">
                <h4 ng-bind-html="details.caption"></h4>
                <h4 ng-bind-html="details.embed|rawHtml" ng-if="details.embed" ng-if="details.type =='audio'"></h4>
            </div>
            <div class="padding" ng-if="details.type =='link'">
                <h4>Link</h4>
                <a href="{{details.url}}" target="_blank">{{details.url}}</a>
            </div>
            <div class="padding" ng-if="details.type =='quote'">
                <h4>Quote</h4>
                <p>{{details.text}}</p>
            </div>
        </div>
       <br><br><br>

    </ion-content>

<div class="tabs  tabs-light" >
  <a  ng-click="puntoslink();" class="positive tab-item icon ion-star "><font style="font-family:Gotham-bold;" size="2.2px">  Mis Puntos</font></a>
  <a href="#/app/cafes" class="positive tab-item ion-coffee "><font style="font-family:Gotham-bold;" size="2.2px">  Productores</font></a>
  <a href="#/app/contact" class="positive tab-item ion-earth "><font style="font-family:Gotham-bold;" size="2.2px">  Sucursales</font></a>
</div> 

</ion-view>
