<ion-view view-title="Chat">
    <ion-content  ng-style="{'background-image':'url(img/madera.jpg)'}">
        <div class="padding">






        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         <center> 

         <br>
         <H1>Messenger</H1>
         <a class="button button-full button-positive-facebook button-block" onclick="window.open('https://m.facebook.com/msg/mycoffeeboxmx/?show_interstitial=0&mdotme_uri=https%3A%2F%2Fm.me%2Fmycoffeeboxmx&handler=m.me&referer&refsrc=http%3A%2F%2Fm.me%2Fmycoffeeboxmx&_rdr', '_blank', 'location=yes')">
         Chatea con nosotros al instante.</a><br>



<a class="button button-full button-positive-facebook button-block" href="" onclick="window.open('fb-messenger://user/488922327836043', '_blank', 'location=yes')">>Chat</a>





<a class="button button-full button-positive-facebook button-block" href="" onclick="window.open('https://www.facebook.com/msg/mycoffeeboxmx', '_blank', 'location=yes')">>Chat</a>



         </center>
        </div>
    </ion-content>
</ion-view>

