<ion-view view-title="Events">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content class="padding-bottom">
        <div class="article-view">
            <div class="min-height max-height" ng-if="eventdetail.image">
                <img class="full-image" imgloadingsec ng-src="{{eventdetail.image | serverimage}}">
            </div>
            <div class="padding-horizontal">
                <h4 class="dark">{{eventdetail.title}}</h4>
                <p ng-if="eventdetail.timestamp||eventdetail.starttime">
                    <span class="icon-space"><i class="icon ln-calendar3 positive"></i></span><span ng-if="eventdetail.timestamp">{{eventdetail.timestamp|date : 'dd MMM, yyyy'}}</span><span ng-if="eventdetail.starttime"> @ {{eventdetail.starttime|convertto12}}</span>
                </p>
                <p ng-if="eventdetail.venue">
                    <span class="icon-space"><i class="icon ln-map-marker positive"></i></span><span ng-bind-html="eventdetail.venue"></span>
                </p>
                <p ng-bind-html="eventdetail.content"></p>
                <h5 class="dark" ng-if="eventdetail.eventvideos && eventdetail.eventvideos != ''">Videos</h5>
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide ng-repeat="images in eventdetail.eventvideos">
                        <div class="row">
                            <div class="col col-50" ng-repeat="img in images" ng-click="showVideo(img.url);">
                                <img src="http://img.youtube.com/vi/{{img.url | url}}/default.jpg" alt="">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <h5 class="dark" ng-if="eventdetail.eventimages && eventdetail.eventimages != ''">Images</h5>
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide ng-repeat="images in eventdetail.eventimages">
                        <div class="row">
                            <div class="col col-50" ng-repeat="img in images" ng-click="showImage(img.image);"><img ng-src="{{img.image|serverimage}}" imgloadingsec class="full-image"></div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    <br><br><br></ion-content>
    <br>
<div class="tabs  tabs-light" >
  <a  ng-click="puntoslink();" class="positive tab-item icon ion-star "><font style="font-family:Gotham-bold;" size="2.2px">  Mis Puntos</font></a>
  <a href="#/app/cafes" class="positive tab-item ion-coffee "><font style="font-family:Gotham-bold;" size="2.2px">  Productores</font></a>
  <a href="#/app/contact" class="positive tab-item ion-earth "><font style="font-family:Gotham-bold;" size="2.2px">  Sucursales</font></a>
</div>
</ion-view>
