<ion-view view-title="Notifications">
    <div class="text-center positive middle-align" ng-if="msg != ''">
        {{msg}}
    </div>
    <ion-content>
        <ion-list class="full-width">
            <ion-item ng-repeat="item in notify" class="item-text-wrap" ng-click="notifyclick(item)">
                <img ng-if="item.image" ng-src="{{item.image | serverimage}}" class="full-image" ng-if="item.image">
                <p>{{item.content}}</p>
                <p ng-if="item.linktype == 17">{{item.link}}</p>
                <p>{{item.timestamp | formatdate}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
            <ion-infinite-scroll on-infinite="loadMoreNotification()" ng-if="keepscrolling" distance="25%">
            </ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>
