<ion-view view-title="¡Quiero Más Café!">
    <ion-content style="background-image: url('img/warning.jpg'); background-repeat: no-repeat; background-size: cover;">
        
  <div class="padding card">
           

            <ion-item class="item-avatar item-icon-right""><br>
                
                <div class="image-adjust img-blog" style="text-align: center;" ng-style="{'background-image':'url(img/NUEVO-LOGO-MCB.png)'}">
                </div>

                <h2>ADVERTENCIA</h2>
                
            </ion-item>



            <input type="text" style="display: none;" placeholder="Nombre Completo" ng-model="panico.mensaje" value="Urge Cafe" hidden>



            
 
              <div class="full-image item-body" >

               <center><font style="line-height:45px; font-size: 40px; font-family: 'gotham-bold'; font-weight: bold;"" COLOR="black">¿SE TE ACABÓ EL CAFÉ?</font>





<font style="line-height:20px; font-size: 20px; font-family: 'gotham-bold';" > Y NECESITAS QUE TE LO ENVIEMOS LO ANTES POSIBLE?</font><br><br>
<font color="red">¡PRESIONA EL BOTON Y NOS COMUNICAREMOS CONTIGO!</H3></center>
            
          <br>
            <div ng-click="panicos(panico);">

             <center>   <img title="Click AQUI"  width="80%" ng-src="img/urges.png" onclick="this.src='img/urgep.png'"/></center>


            
       
            
        
              </div>
               <!--<center><a class="boton" ng-click="panico()"><span>¡Me Urge Café!</span></a></center><br>-->

              <div style=" line-height: 10px; font-size: 8px;" class="item item-footer">
               
                        Para comunicarnos, es necesario que estés registrado <br>en la app. <strong>¿No estás registrado?</strong><a class="royal" href="#/access/pasaporte"> Registrate aquí.</a>
               

              </div>
            
      </div>













    </ion-content>
</ion-view>

