<ion-view view-title="Search">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="search.text" placeholder="Buscar" ng-change="getsearchelement(search.text)">
            </label>
            <button class="button button-clear" ng-click="clear()">
                Cancelar
            </button>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in searchresults.searchevent" ng-click="openevents(item.id)">
                <h2>{{item.title}}</h2>
                <p>{{item.subtitle}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
            <ion-item ng-repeat="item in searchresults.searchgallery" ng-click="opengallery(item.id)">
                <h2>{{item.name}}</h2>
                <p>{{item.subtitle}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
            <ion-item ng-repeat="item in searchresults.searchvideogallery" ng-click="openvideogallery(item.id)">
                <h2>{{item.name}}</h2>
                <p>{{item.subtitle}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
            <ion-item ng-repeat="item in searchresults.blog" ng-click="openblog(item.id)">
                <h2>{{item.title}}</h2>
                <p>{{item.subtitle}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
            <ion-item ng-repeat="item in searchresults.article" ng-click="openarticle(item.id)">
                <h2>{{item.title}}</h2>
                <p>{{item.subtitle}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Compartir
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
