<ion-view view-title="Setting">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
Notificaciones de Eventos
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="setting.eventnotification" ng-click="changeSetting(setting)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
Notificaciones de Imágenes
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="setting.photonotification" ng-click="changeSetting(setting)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
Notificaciones de Videos
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="setting.videonotification" ng-click="changeSetting(setting)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
Notificaciones del blog
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="setting.blognotification" ng-click="changeSetting(setting)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
